/* Employee / Employee Payroll Tab */

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.employee-table-wrapper {
    width: 100%;
    height: 100%;
    display: inherit;
    flex-direction: column;
    row-gap: 1em;
}

.table-header {
    font-size: 20px;
}

.attendance-table-container,
.table-container {
    box-sizing: border-box;
    display: inherit;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 470px;
    width: 1000px;
    overflow-x: auto;
    overflow-y: auto;
}

.table-container table,
.attendance-table-container table {
    border-collapse: collapse;
    margin: 0 0;
    padding: 10px;
    max-width: 470px;
    max-width: 1000px;
}

.table-head {
    position: sticky;
    top: 0;
}

thead tr{
    background-color: lightblue;
    color: black;
    text-align: left;
}

thead tr th{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.table-container td,
.table-container th,
.attendance-table-container th,
.attendance-table-container td{
    text-align: center;
    padding: 12px 12px;
    /* margin: 0 12px; */
}

.table-container tbody tr {
    border-bottom: 1px lightblue solid;
}

.table-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em; */
    margin-bottom: 0;
}

.table-controls form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.table-controls form button {
    padding: 1em;
    height: 40px;
    width: 200px;

    outline: none;
    border: black 1px solid;
    border-radius: 20px;
    background: none;
}

.table-controls form button:hover {
    background: black;
    color: white;
}

/* Employee Data Pop Up */

.pop-up-wrapper {
    box-sizing: border-box;
    width: 400px;
    height: 600px;
    background-color: #F1EEDC;
    box-shadow: 1px 1px 5px gray;
    border-radius: 20px;
}

.form-container {
    box-sizing: inherit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.form-container .form-header h3,
.account-form-container .form-header h3{
    box-sizing: inherit;
    padding: 2em;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
}

.form-container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-container form .input-group-registration {
    margin-left: 8px;
    margin-right: 3px;
    width: 46%;
    height: 45px;
}

.input-group-registration input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    padding-left: 15px;
    color: black;
}

.input-group-registration input::placeholder {
    color: black;
    font-size: 12px;
}

.input-group-registration-radio {
    width: 100%;
    height: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
}

.input-group-registration-radio label {
    padding: 0.5em;
    border: 1px black solid;
    border-radius: 10px;
}

.input-group-registration-select {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-group-registration-select select {
    width: 46%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    color: black;
}

.pop-up-form-control {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pop-up-form-control button {
    width: 46%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    color: black;
}

.pop-up-form-control button:hover {
    background-color: black;
    color: white;
}

/* Employee Account Creation Pop Up */

.account-pop-up-wrapper {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    background-color: #F1EEDC;
    box-shadow: 1px 1px 5px gray;
    border-radius: 20px;
}

.account-form-container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 2em;
}

.account-form-container form {
    width: 80%;
    height: 70%;
}

 form .input-group-creation {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.input-group-creation input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 10px;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    outline: none;
    color: black;
}

.input-group-creation input::placeholder {
    color: black;
}

/* Admin Dashboard */

.dashboard-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1em;
}

.attendance-table .employee-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-table-container {
    box-sizing: border-box;
    display: inherit;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    height: 350px;
    width: 743px;
    overflow-x: auto;
    overflow-y: auto; 
}

.employee-stat {
    display: flex;
    box-sizing: border-box;
    gap: 2em;
    height: 120px;
}

.employee-stat .stat-container {
    width: 250px;
    height: 100%;
    background-color: #F1EEDC;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.employee-stat .stat-container p {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

.employee-stat .stat-container h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.test {
    border: 1px solid red;
}